
  <div>
<span id= {{taska.category_id}} class="formicka">

  <div class="task-title">
    {{taska.task}}
  </div>


  <div id='editor'>function funcTest() {}
  </div>

      <div id={{taska.id}}>
 <button id='but' type="button" class="btn btn-primary btn-lg" href="/tasks/{{taska.category_id}}/{{taska.id}}">Check</button>
      </div>

    </span>

</div>
